#header {
  color:#0e4091;
  background-color:#dce6f7;
  padding-top:50px;
  padding-bottom:50px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-color:#0e4091;
  border-style:solid;
  border-width:2px;
  border-radius:5px;
}

body {
  color:#333333;
  font-family: "Courier New", Courier, monospace;
}

#content {
  padding-left:20px;
}

#unicorn {
  display:block;
  margin-left:auto;
  margin-right:auto;
}
